*

!hichiarep/
!example/
!docs/

!docs/**

!example/
!example/**

!.github/
!.github/**
!.gitignore

!*.pdf
!LICENSE
!MANIFEST.in
!README.md
!environment.yml
!pyproject.toml

!*.py
!*.pyx
!*.c
!*.conf

# Keep these last so they override the whitelist above
__pycache__/
*.pyc
*.egg-info/
/build/
example/output/



